.FluxWorkloads,
.FluxPanels {
  display: grid;
  grid-template-columns: repeat(auto-fit, 180px);
  justify-content: space-evenly;
}

.FluxPanels {
  grid-template-columns: repeat(auto-fill, 385px);
  justify-content: flex-start;
}

.floatRight {
  float: right;
}

.fluxPanel header {
  margin-bottom: 1em;
}

.gaps>.column {
  margin-top: var(--flex-gap, 1em);
  margin-right: var(--flex-gap, 1em);
}

.center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

.pb-3 {
  padding-bottom: 3em;
}

.mb-3 {
  margin-bottom: 3em;
}

.fluxPanel {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 0.4em;
}

.statusReady {
  background-color: #15501a;
}

.statusNotReady {
  background-color: #502015;
}

.statusInProgress {
  background-color: #154650;
}

.statusSuspended {
  background-color: #424242;
}